.mainContainer {
  width: 100vw;
  height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discographyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
