.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

/*--Left Side--*/
.leftContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 25px;
  width: 25vw;
  height: 90vh;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px #878787;
  -webkit-box-shadow: 0 0 3px #878787;
  box-shadow: 0 0 3px #878787;
}
.releaseTxt {
  font-weight: 700;
  font-size: 25px;
}

/*--Right Side--*/
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 40%;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px #878787;
  -webkit-box-shadow: 0 0 3px #878787;
  box-shadow: 0 0 3px #878787;
}
.topText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artistName {
  font-size: 45px;
}
.buttonFollow {
  display: flex;
  align-items: center;
  background-color: #0953db;
  color: white;
  padding: 10px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.buttonFollow:hover {
  background-color: #3466c3;
  cursor: pointer;
  border: black;
}

.artistDescription {
  padding: 20px;
  margin: 0px 30px 30px 30px;
}

.discographyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
