.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  background-size: 200% 200%;
  animation: background-animation 6s ease infinite;
}

.title {
  font-size: 45px;
  margin-right: 30px;
  margin-left: 30px;
}

.artistsList {
  width: 80%;
  border: solid;
  flex: 5 1 auto;
  padding: 20px;
  height: auto;
}