.notifyContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    color: #f47373;
    font-size: 2rem;
    font-weight: bold;
    font-family: BlinkMacSystemFont
}

.itemTitle {
    color: white;
    /*font-weight: bold;*/
    font-size: 1rem;
    font-family: BlinkMacSystemFont
}

.labelName {
    color: white;
    margin: 30px;
    font-size: 0.8rem;
    font-family: BlinkMacSystemFont
}
.buttonStyles {
    width: 15px;
    height: 15px;
    margin: 10px;
    accent-color: #f47373;
}
.addGenreButton {
    width: 1.7rem;
    height: 1.7rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.genreInput {
    border-radius: 5px;
    height: 1.2rem;
    border: none;
    margin: 5px;
}
.saveButton {
    margin-top: 2rem;
    background-color: #f47373;
    border-radius: 10px;
    width:  10rem;
    height: 2rem;
    border: none;
    color: white;
    font-weight: bold;
}

.itemType {
    border: 2px solod blue;
}

.genreItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.labelText {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

