.mainContainer {
  width: 100vw;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, #cdf0ea 0%, #b9eddd 100%);
  background-size: 200% 200%;
  animation: background-animation 6s ease infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 620px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.title {
  padding-top: 25px;
  font-size: 40px;
}

@media (max-width: 620px) {
  .title {
    font-size: 32px;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 4vh;
  width: 60vw;
  height: 88%;
  border-radius: 10px;
  -moz-box-shadow: 0 0 9px #878787;
  -webkit-box-shadow: 0 0 9px #878787;
  box-shadow: 0 0 9px #878787;
  background-color: #f8f6f4;
  overflow: auto;
}

@media (max-width: 620px) {
  .searchContainer {
    width: 90%;
    height: 97%;
  }
}
@media (max-width: 620px) {
  .artistDescription {
    font-size: 13px;
  }
}

.artistContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 0.5px solid rgb(55, 165, 35);
  border-left: 0.5px solid rgb(55, 165, 35);
  border-radius: 6px;
  margin: 5px;
}
.artistContainer p {
  margin: 15px;
}

.artistContainer a {
  margin-left: 15px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  height: 90vh;
}

.buttonFollow {
  display: flex;
  align-items: center;
  background-color: #0953db;
  color: white;
  padding: 10px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #0953db;
  font-family: "Montserrat";
  margin-right: 15px;
}
.buttonFollow:hover {
  background-color: #3466c3;
  cursor: pointer;
  border: 1px solid black;
}
.buttonFollow:active {
  transform: translate(0em, 0.15em);
}
