.signupScreen {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

/*
.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
*/
.signInContainer {
    margin: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
}

.signupSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signinInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem
}

.inputContainer {
    width: 20rem;
    height: 3rem;
    border-radius: 5px;
    border: none
}

.fieldTitle {
    color: white;
    font-weight: bold;
    font-size: 10px
}

.registerButton {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px
}
